* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

:root {
  --primary: rgba(68, 88, 119, 1);
  --secondary: rgba(146, 204, 206, 1);
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #32343D;
    color: #32343D;

    
    
}

.header h1 {
    
    display: inline-block;
    font-size: 48px;
    background-color: #92CCCD;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 15px;
    margin-left: -20px;
   

}

.header nav,.contact nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.contact nav{
    margin-right: 10%;
    margin-bottom: -100%;
}

.header nav ul ,.contact nav ul{
    list-style-type: none;
}

.header nav ul li ,.contact nav ul li{
    display: inline-block;
    margin-left: 25px;
}

.contact nav ul li{
    display: inline-block;
    margin-left: 250px;
    
}
nav a:hover {
    background-size: 100% 100%;
    color:#445877
  }

a {
    color: #92CCCD;
    text-decoration-line: underline;
}
#cover img {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.quote{
    font-size: x-large;
    color:aliceblue;
    margin-left: 65%;
    margin-top: -5%;
    font-weight: bolder;
    font-style: italic;

}
.me img{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-shrink:initial; */
    width: 400px;
    height: 300px;
    align-items: start;
    object-fit: cover;
    /* margin-top: -14.75%; */
    margin-top: -247px;

}





/* .about  .vl {
    flex: wrap;
    border-left: 6px solid #445877;
    margin-top: -5%;
    height: 150px;
    margin-left: 24%;
    
  } */



/* .about  {
   
    display: inline-block;
    
    color: #445877;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */




/* .about p{
    /* /* width: fit-content;
    width: -moz-fit-content; */
    /* margin-left: 30%;
    padding-left: 0px;
    font-size: x-large;
    margin-top: -2.5%;
    object-fit: cover;
    display: inline-block;
    
} */ 

h2 ,h3 ,h4{
    margin-left: 10%;
    margin-top: 5%;
    font-size: 40px;
}


.mywork,.about {
    display: flex;
    margin: 25px ;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    /* justify-content: space-between; */
  }

  #service1 h2{
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid;
    color: #445877;
    font-size: 3.8vw;
    line-height: 1.2;
  }
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

    .a:first-child {
    min-height: 420px;
    flex-basis: 100%;
}

    .a:hover {
  background-color:#32343D
}

    .a {
  background-color:#92CCCD;
  padding: 10px 10px;
}

    .a{
  font-size: 1.6rem;
}
  .a{
    border: 5px solid #445877;
    background-color:#445877;
    color:#32343D;
    min-height: 130px;
    max-height: 130px;
    flex-basis: calc(50% - 1em);  /*didnt understand this. I took help from slackbot team. Please do explain how this works */
    display: flex;
    align-items: flex-end;
    padding: 0 0 18px 0;
    margin: 0.4em;
    background-size: 150%;
    font-size: 1.2rem;

  }

  h2,h3{
    margin:0;
  }

  .mywork > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    
    font-size: 4vw;
    line-height: 1.1;
  }

  .about > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding-right: 15px;
    border-right: 4px solid #445877;
    font-size: 4vw;
    line-height: 1.1;
    color: #445877;
  }

  .about p{
    margin-bottom: 20px;
    color: #445877;
    font-size: x-large;
  }

  .mywork > div , .about > div {
    flex: 0 0 75%;
  }

  

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .mywork , .about {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  .contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }

  .contact address a {
    color:#32343D;
    padding: 5px;
    text-decoration: none;
    font-size: 1.3rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
  }

  .contact address a:hover {
    background-size: 100% 88%;
    color:#445877;
  }

  .picture-1 {
    background-image: url("/Users/sankarsh/my-new-code-folder/my-portfolio/assets/images/xx.png");
  }

  .picture-2 {
    background-image: url("/Users/sankarsh/my-new-code-folder/my-portfolio/assets/images/accountant-calculating-profit-with-financial-analysis-graphs.jpeg");
  }

  .picture-3 {
    background-image: url("/Users/sankarsh/my-new-code-folder/my-portfolio/assets/images/2901.jpg");
  }

  .picture-4 {
    background-image: url("/Users/sankarsh/my-new-code-folder/my-portfolio/assets/images/Snapwire-Running-17-38ab6267e82c41a0b03b66469087aefb.jpeg");
  }

  .mywork > h2 {
    border-right: none;
    border-bottom: 4px solid var(--primary);
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
    font-size: 7vw;
  }

  











  