 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #32343D;
    color: #32343D;

    
    
}

.header h1 {
    
    display: inline-block;
    font-size: 48px;
    background-color: #92CCCD;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 100px;
    padding-right: 15px;
    margin-left: -20px;
   

}

.header nav {
    padding-top: 20px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #92CCCD;
    text-decoration-line: underline;
}
#cover img {
    width: 100%;
    height: 300px;
    object-fit: cover;

}

.quote{
    font-size: x-large;
    color:aliceblue;
    margin-left: 65%;
    margin-top: -5%;
    font-weight: bolder;
    font-style: italic;

}
.me img{
    display: flex;
    /* flex-wrap: wrap; */
    /* flex-shrink:initial; */
    width: 400px;
    height: 300px;
    align-items: start;
    object-fit: cover;
    /* margin-top: -14.75%; */
    margin-top: -247px;

}

.vl {
    border-left: 6px solid #445877;
    height: 400px;
    margin-left: 24%;
  }

.about {
    color: #445877 ;
    display: flex;
    margin-top:-20%;
    margin-left: 12%;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}